  .oldhome{
    font-family: 微软雅黑;
    /* background-color: #5b2528; */
    color: #333;
    width: 100%;
    height: 100%;
  }

  .oldtop1{
      /* border: 1px dashed yellow; */
      text-align: center;
      width: 100%;
      height: 8%;
      padding-bottom:2%;
      background-image: url('../images/syfz/Old_bg.png');
    }
    
    .top{
        text-align: center;
        /* border: 1px dashed yellow; */
        display: flex;
        width: 100%;
        /* height: 10%; */
        width:100%;
        /* padding-bottom:5%; */
    }
    .titleicon{
      padding-top: 2%;
      vertical-align: middle;
    }
    .titleName{
      font-size: 4vw;
      display: inline-block;
      vertical-align: middle;
      padding-left:2%;
      font-weight: bold;
    }
    
    .relicName{
      font-size: 4vw;
      /* font-weight: bold; */
      width: 100%;
      /* height: 10%; */
      /* padding-right: 5%; */
      /* border: 1px dashed green; */
      /* float: left; */
    }
    
    .namesite{
      float: left;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 20%;
      font-family: Arial;
      font-weight: bold;
    }
    .userinfo{
      /* border: 1px dashed red; */
      /* float: left; */
      width: 10%;
      height: 10%;
    }
    
    .usericon{
      /* float: right; */
      padding-right: 10%;
    }
    
    .bingpai{
      width:100%;
      display: flex;
    }
     #left{
      width: 10%;
      float: left;
    } 
    
    #right{
      width: 90%;
      float: left;
      padding-left: 5%;
    } 
    
    .oldlunbo{
      width: 100%;
      height: 360px;
      margin: auto;
      /* padding-left: 30px;
      width: 80%;
      background-repeat: 
      no-repeat;
      background-size: cover;
      background-position: center 
      0;
      background-position: 50% 50%;
      -webkit-background-size: 
      100%;
      padding-top: 42%*/
    } 
    /* .ttt{
      max-width: 100%;    
      height: 0;    
      padding-bottom: 75%;
    } */
    /* .bbb{
      overflow: hidden;
      width: 100%;
      height: 0;
      padding-bottom: 130%
      } */
    .showimage{
       display: inline;
       height: 80%;
       padding-left: 5%;
    }
    
    /* .likeit{
     height: 80%;
    } */
    
    .chooselist {
      margin:0 auto;
      width:100%;
      height:12%;
      /* border: 1px dashed red; */
    }
    
    .introduc{
      text-indent: 2em;
    }
    .oldnav{
     display: inline;
     margin:0 9%;
      /* padding-top: 5%; */
      /* border: 2px dashed green; */
    }
    
    .imglist{
      display: inline;
      /* border: 1px dashed yellow; */
    }
  
    .direclist{
      margin:0 auto;
      width:100%;
      height:5%;
      display: flex;
      /* margin:0 1.5% */
    }
    
    
    .oldlistline{
      width:7%;
      height:100%;
      display: flex;
      justify-content: center;
      /* border: 1px dashed green; */
      align-items: center;
      font-size: 3vw;
      /* color: #7b7b7b; */
      text-align:center;
      margin: auto 0;
    }
    
    .olddownblock{
      width:100%;
      /* position: fixed; */
      bottom: 2%;
      color:#E0E0E0;
      background: url('../images/syfz/footer-bg.png') repeat-x left center #333333;
      /* background-image: url('../images/syfz/footer-bg.png'); */
    }
    
    .oldfinatitle{
       width:100%;
      font-size: 3vw;
      text-align:center;
      /* background-color: #333333;; */
    }
    
    .oldfinaly{
      width:100%;
      font-size: 2.5vw;
      text-align:center;
      /* background-color: #595758; */
      /* color: #7b7b7b; */
    }
  
    .sharePopup{
      height: 15%;
      /* 视频窗口长度 */
      width: 100%;
    }
    .video-js .vjs-icon-placeholder {
      width: 100%;
      height: 100%;
      display: block;
  }
  
  .bg-color_hui{
    /* border: 2px dashed green; */
    /* background-color: #38373748; */
    border-radius: 1%;
    margin-top: 2%
    
  }
  
  .bingpai{
    /* border: 2px dashed blue; */
  }
  
  .introduc{
    margin: 3% 5% 5% 5%;
    padding-bottom: 02%;
  }
  
  .User{
    /* border: 2px dashed rgb(223, 14, 205); */
    /* height: ; */
    width: 20%;
    /* margin-left: 3%; */
    /* padding-right: 4% */
  }
  .Getit{
    margin-top: 40%;
    /* border: 2px dashed rgb(223, 14, 205); */
  }
  .Niceit{
    padding-top: 20%;
    margin-top: 40%;
    /* border: 2px dashed rgb(223, 14, 205); */
  }
  .video-js .vjs-big-play-button{
    /*
      播放按钮换成圆形
    */
    height: 2em;
    width: 2em;
    line-height: 2em;
    border-radius: 1em;
    margin: 20% 0 0 40%
    
  }
  /* 下面两个样式是添加按钮 取消视频或音频 */
  #video-win{
    position:relative;
    z-index:1
  }
  #stop-video-win{
    position:absolute;
    z-index:9999;
    margin-left: 90%
    
  }
  .shareme{
    height: 33%;
    /* 视频窗口长度 */
    width: 100%;
  }
  .usericon{
    /* float: right; */
    padding-right: 10%;
  }
  
  